@import '../../global/variable.scss';

.memorialShort {
    background-color: $base-white;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;

    @media (max-width:$mobile-big) {
        background-color: $base-white;
        height: 26.5vh;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 3vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .title {
        color: $base-red;
        font-size: 4rem;
        text-align: center;
        font-weight: 400;
        font-family: $font-rounds;
        margin-bottom: 5rem;

        @media (max-width:$mobile-big) {
            font-size: 5.5814vw;
            margin-bottom: 1.5vh;
        }
    }

    .memorialShort_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 84.5rem;
        margin: 0 auto;


        &.mobile {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .img {
                position: relative;
                width: 46.515vw;
                height: 12vh;
                background-position: center;
                background-size: cover;
                border-radius: 1vh;
                overflow: hidden;
                margin-bottom: 1vh;
                z-index: 1;

                @media (max-width:530px) {
                    margin-bottom: 2vh;
                }

                img {
                    width: 100%;
                }
            }

            .backSide {
                position: absolute;
                left: 0;
                top: 0;
                background-color: $opacity-yellow;
                width: 100%;
                max-width: 82vw;
                height: 13vh;
                border-radius: 1.5vh;
                z-index: 0;
                transform: translateY(3vh);
            }
        }

        @media (max-width:$mobile-big) {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: flex;
            }
        }

        .left {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            color: $base-black;
            font-family: $font-mont;
            padding-right: 6.5rem;
            max-width: 42.875rem;

            .wrapper__title {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 2rem;
            }

            .description {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 2.5rem;

                .item {
                    font-size: 1.25rem;
                    margin-bottom: 1.5rem;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 21.875rem;
            }
        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 41.6251rem;
            height: 21.8751rem;
            background-size: cover;
            background-position: center;
            border-radius: 1.875rem;
        }
    }
}