@import '../../global/variable.scss';

.memorialShort {
    background-color: $base-white;

    @media (max-width:$mobile-big) {
        background-color: $base-white;
        height: 26.5vh;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 3vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    @media (max-width:$mobile) {
        padding-top: 0;
        padding-bottom: 0;
    }

    .title {
        color: $base-red;
        font-size: 4rem;
        text-align: center;
        font-weight: 400;
        font-family: $font-rounds;
        display: block;
        margin: 0 auto;
        margin-bottom: 5rem;

        @media (max-width:$mobile-big) {
            font-size: 4vh;
            margin-bottom: 1.5vh;
        }

        @media (max-width:$mobile) {
            font-size: 2.14592vh;
            margin-bottom: 1.60944vh;
            padding-bottom: 0.536481vh;
        }
    }

    .memorialShort_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        &.mobile {
            display: none;
        }

        @media (max-width:$mobile-big) {
            &.desktop {
                display: none;
            }

            &.mobile {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

                .img {
                    position: relative;
                    width: 24vh;
                    height: 12vh;
                    background-position: center;
                    background-size: cover;
                    border-radius: 2rem;
                    overflow: hidden;
                    margin-bottom: 2vh;
                    z-index: 1;

                    img {
                        width: 100%;
                    }
                }

                .backSide {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $opacity-yellow;
                    width: 100%;
                    height: 13vh;
                    border-radius: 1.5vh;
                    z-index: 0;
                    transform: translateY(3vh);
                }
            }
        }

        @media (max-width:$mobile) {

            &.mobile {

                .img {
                    width: 21.46vh;
                    height: 10.73vh;
                    border-radius: 1vh;
                    margin-bottom: 1.072965vh;
                }

                .backSide {
                    height: 11.803vh;
                    border-radius: 1vh;
                    transform: translateY(2.5vh);
                }
            }
        }

        .left {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            color: $base-black;
            font-family: $font-mont;
            padding-right: 6.5rem;
            width: 50%;

            .wrapper__title {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 2rem;
            }

            .description {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 3.125rem;

                .item {
                    font-size: 1.25rem;
                    margin-bottom: 1.5rem;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.5rem;
            width: 50%;

            img {
                display: block;
                width: 100%;
                border-radius: 1.875rem;
                overflow: hidden;
            }
        }
    }
}