@import '../../global/variable.scss';

.memo {
    margin-top: 2rem;

    @media(max-width:$mobile-big) {
        margin-top: 0;
        padding-top: 0;
    }

    .title {
        font-size: 4rem;
        color: $base-black;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin: 5rem auto;

        @media (max-width:$mobile-big) {
            margin-top: 0;
            font-size: 4vh;
            margin-bottom: 1.5vh;
        }

        @media (max-width:$mobile) {
            font-size: 2.14592vh;
            margin-bottom: 1.60944vh;
        }

        @media (max-width:$mobile-small) {
            font-size: 2.2vh;
            margin-bottom: 1.5vh;
        }
    }
}

.PopUp_wrapper {
    width: 100%;
    height: 50rem;
    max-width: 50rem;
    max-height: 99vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.1875rem 3.75rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;

    .cross {
        position: absolute;
        top: 2.8125rem;
        right: 3.75rem;
        width: 3.591rem;
        height: 3.591rem;
        cursor: pointer;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .wrapper__top {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2.5rem;

        .img {
            width: 9.625rem;
            height: 9.625rem;
            border-radius: 2rem;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            margin-right: 3.125rem;
        }

        .info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            font-family: $font-mont;
            color: $base-white;

            .name {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 1.25rem;
            }

            .position {
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }

    .wrapper_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: $base-white;
        border-radius: 2rem;
        overflow: hidden;
        padding: 3.3125rem 2.5rem;

        p {
            color: $base-black;
            font-size: 1.25rem;
            font-weight: 400;
            font-family: $font-mont;
            margin-bottom: 0.9375rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            &.bold {
                font-weight: bold;
            }
        }
    }
}

.slider__mobile {
    display: none;

    @media(max-width:$mobile-big) {
        display: block;
    }

    .slide {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: $ligth-gray;
        padding: 3.21888vh 5.90129vh;
        border-radius: 2vh;

        .slider__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .image {
                width: 21.46vh;
                height: 21.46vh;
                background-size: cover;
                background-position: center;
                border-radius: 1.5vh;
                margin-bottom: 2.6824vh;
                filter: grayscale(1);
            }

            .name {
                font-size: 2.14592vh;
                margin-bottom: 1.072965vh;
                font-weight: 600;
                font-family: $font-mont;
            }

            .age {
                font-size: 1.39485vh;
                font-weight: 500;
                font-family: $font-mont;
            }

            .position {
                font-size: 1.39485vh;
                font-weight: 500;
                font-family: $font-mont;
                margin-bottom: 2.6824vh;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                button {
                    width: 100%;
                    max-width: 100%;
                    font-size: 1.18026vh;
                }
            }
        }
    }
}

form {
    position: absolute;
    right: 5rem;
    top: 2.8125rem;
    z-index: 10;


    input {
        width: 13.0625rem;
        height: 2.5rem;
        border-radius: 2rem;
        font-size: 0.875rem;
        font-family: $font-mont;
        padding: 0 1.75rem;
        outline: none;
        border: 0.0625rem solid $base-black;
    }

}