@import '../../global/variable.scss';

.memo {
    margin-top: 2rem;

    .title {
        font-size: 4rem;
        color: $base-black;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin: 5rem auto;
    }
}