@import '../../global/variable.scss';

.memo {
    padding-top: 7.2rem;
    padding-bottom: 6.25rem;

    @media(max-width:$mobile-big) {
        margin-top: 12vh;
        padding-top: 0;
        min-height: 79.5vh;
    }

    .title {
        font-size: 4rem;
        color: $base-black;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin: 2.5rem auto;

        @media (max-width:$mobile-big) {
            font-size: 7.90697vw;
            margin-bottom: 3.21888vh;
            margin-top: 0;
        }
    }
}

.slider__mobile {
    display: none;

    @media(max-width:$mobile-big) {
        display: block;
    }

    .slide {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: $ligth-gray;
        padding: 3.21888vh 12.7907vw;
        border-radius: 1.9068vh;
        position: relative;

        &.noResault {
            color: $base-black;
            font-size: 3.5vw;
            font-family: $font-mont;
            font-weight: 600;
        }

        .trident {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            z-index: 0;

            svg {
                width: 8.155vh;
                height: 12.769vh;
                transform: translateY(-8.7vh);
            }
        }

        .slider__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: relative;
            z-index: 1;

            .image {
                width: 30vw;
                height: 30vw;
                background-size: cover;
                background-position: center;
                border-radius: 1.5vh;
                margin-bottom: 1vh;
                filter: grayscale(1);
                opacity: 0;
                transition: all ease-in 300ms;
                transition-delay: 50ms;

                &.active {
                    opacity: 1;
                }

                @media (max-width:530px) {
                    width: 46.515vw;
                    height: 46.515vw;
                    margin-bottom: 4.5vh;
                }
            }

            .name {
                text-align: center;
                font-size: 4.65116vw;
                margin-bottom: 1.072965vh;
                font-weight: 600;
                font-family: $font-mont;
            }

            .age {
                font-size: 3.02325vw;
                font-weight: 500;
                font-family: $font-mont;
                margin-bottom: 1.072965vh;
            }

            .position {
                font-size: 3.02325vw;
                font-weight: 500;
                font-family: $font-mont;
                margin-bottom: 3vh;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                button {
                    width: 100%;
                    max-width: 56vw;
                    height: 5vh;
                }
            }
        }
    }
}

form {
    width: 100%;
    max-width: 70.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3.125rem;

    @media (max-width:$mobile-big) {
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5vh;
        max-width: 100%;
    }

    @media (max-width:$mobile) {
        margin-bottom: 4.18455vh;
    }

    input {
        width: 100%;
        height: 3.125rem;
        border-radius: 3.125rem;
        font-size: 0.875rem;
        font-family: $font-mont;
        padding: 0 1.75rem;
        outline: none;
        border: 0.0625rem solid $base-black;

        @media (max-width:$mobile-big) {
            font-size: 3vw;
            width: 100%;
            height: 4vh;
            border-radius: 4vh;
            border: 0.25vw solid $base-black;
            padding: 0 3vw;
        }
    }

}

.PopUp_wrapper {
    width: 100%;
    max-width: 50rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.1875rem 3.75rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;

    @media (max-width:1000px) {
        max-width: 70rem;
    }

    @media (max-width:$mobile-big) {
        max-width: 100%;
        height: 100%;
        border-radius: 3.5503vh;
        padding: 4.29185vh 9.30232vw;
    }

    @media (max-width:350px) {
        padding: 4.29185vh 4vw;
    }

    .cross {
        position: absolute;
        top: 2.8125rem;
        right: 3.75rem;
        width: 3.6875rem;
        height: 3.6875rem;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: all ease-in 300ms;
        transition-delay: 50ms;

        &.active {
            opacity: 1;
        }

        @media (max-width:1280px) {
            width: 4rem;
            height: 4rem;
        }

        @media (max-width:$mobile-big) {
            width: 10vw;
            height: 10vw;
            right: 8vw;
            top: 4vw;
        }

        @media (max-width:$mobile) {
            width: 15vw;
            height: 15vw;
        }
    }

    .wrapper__top {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2.5rem;

        @media (max-width:1000px) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        @media (max-width:$mobile-big) {
            margin-bottom: 0;
        }

        .img {
            width: 9.625rem;
            height: 9.625rem;
            border-radius: 2rem;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            margin-right: 3.125rem;
            filter: grayscale(1);
            opacity: 0;
            transition: all ease-in 300ms;
            transition-delay: 50ms;

            &.active {
                opacity: 1;
            }

            @media (max-width:1000px) {
                width: 12rem;
                height: 12rem;
            }

            @media (max-width:$mobile-big) {
                width: 46.515vw;
                height: 46.515vw;
                margin: 0 auto;
                border-radius: 1.718vh;
                margin-bottom: 2.14592vh;
            }
        }

        .info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            font-family: $font-mont;
            color: $base-white;

            @media (max-width:$mobile-big) {
                justify-content: center;
                align-items: center;
            }

            .name {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 1.25rem;

                @media (max-width:1000px) {
                    font-size: 3rem;
                }

                @media (max-width:$mobile-big) {
                    text-align: center;
                    font-size: 4.18605vw;
                    margin-bottom: 1.71674vh;
                }
            }

            .position {
                font-size: 2rem;
                font-weight: 500;

                @media (max-width:1000px) {
                    font-size: 2.5rem;
                }

                @media (max-width:$mobile-big) {
                    text-align: center;
                    font-size: 3.72092vw;
                    margin-bottom: 2.14592vh;
                }
            }
        }
    }

    .wrapper_content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: $base-white;
        border-radius: 2rem;
        padding: 3.3125rem 2.5rem;
        max-height: 40vh;
        overflow-y: scroll;
        scrollbar-color: $smallOpacity-gray $opacity-gray;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 0.25rem;
            border-radius: 0.25rem;
        }

        &::-webkit-scrollbar-track {
            background-color: $opacity-gray;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $smallOpacity-gray;
            border-radius: 0.25rem;
            height: 1.25rem;
        }

        @media (max-width:$mobile-big) {
            border-radius: 1.7vh;
            padding: 4.82833vh 5.81395vw 7.29614vh 5.81395vw;
            justify-content: flex-start;
            align-items: flex-start;
        }

        p {
            color: $base-black;
            font-size: 1.25rem;
            font-weight: 400;
            font-family: $font-mont;
            margin-bottom: 0.9375rem;

            @media (max-width:1000px) {
                font-size: 1.5rem;
            }

            @media (max-width:$mobile-big) {
                font-size: 3.02325vw;
                margin-bottom: 1.60944vh;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &.bold {
                font-weight: bold;
            }
        }
    }
}