@import '../../../global/variable.scss';

.memorial {
    max-width: 70.25rem;
    margin: 0 auto;

    @media(max-width:$mobile-big) {
        display: none;
    }

    .item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $ligth-gray;
        padding: 7.375rem 4.8125rem 7.375rem 7.1875rem;
        border-radius: 1.875rem;
        margin-bottom: 5rem;
        position: relative;

        .trident {
            position: absolute;
            right: 10.625rem;
            top: 7.375rem;
            z-index: 0;
            width: 14.3751rem;
            height: 22.5005rem;

            svg {
                width: 100%;
                height: auto;
            }
        }

        .item_left {
            width: 27.2505rem;
            height: 27.7505rem;
            margin-right: 5rem;
            border-radius: 1.75rem;
            overflow: hidden;
            filter: grayscale(1);
            background-size: cover;
            background-position: center;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .item_rigth {
            font-family: $font-mont;
            color: $base-black;
            position: relative;
            padding-top: 5.8125rem;

            .title,
            .item_name,
            .item_age,
            .item_position {
                margin-bottom: 1.5625rem;
            }

            .item_name {
                font-size: 2.25rem;
                font-weight: 600;
            }

            .item_age,
            .item_position {
                font-size: 1.5rem;
                font-weight: 500;
            }

            .item_position {
                margin-bottom: 7rem;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -4.687505rem;
                left: 0;
                width: 26rem;

                button {
                    width: 100%;
                    max-width: 100%;
                    height: 4.687505rem;
                }
            }
        }
    }
}