@import '../../global/variable.scss';

.customBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.reverse {
        flex-flow: row-reverse;
    }

    .left,
    .rigth {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 0.5rem;
    }

    .left {
        img {
            display: block;
            background-color: $base-gray;
            width: 100%;
            max-width: 41.6875rem;
            height: 41.5rem;
            border-radius: 2.1875rem;
        }
    }

    .rigth {
        .infoWrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            color: $base-black;
            max-width: 32rem;
            padding: 0 1rem;

            .title {
                font-size: 4rem;
                font-family: $font-rounds;
                margin-bottom: 3.25rem;
            }

            .description {
                font-size: 1rem;
                font-family: $font-mont;
                margin-bottom: 3.25rem;
            }

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 24.375rem;
            }
        }

    }
}