@import '../../global/variable.scss';

.ContactsWrapper {
    padding-top: 9.7rem;

    @media (max-width:$mobile-big) {
        padding-top: 0;
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
}