@import '../../global/variable.scss';

.checkPass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 10rem;

    .input {
        color: $base-black;
        width: 100%;
        height: 3.125rem;
        border-radius: 3.125rem;
        font-size:1.5rem;
        font-family: $font-mont;
        padding: 0 1.75rem;
        outline: none;
        border: 0.0625rem solid $base-black;
        transition: all ease-out 300ms;
        background-color: $base-yellow;

        &.error {
            background-color: $base-red;
        }
    }

    .btn {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 15rem;
        margin: 2rem;
        padding: 0.5rem;
        background-color: $opacity-yellow;
        border-radius: 0.75rem;
        border: none;
        cursor: pointer;
        transition: all ease-out 300ms;

        &:hover {
            background-color: $base-yellow;
        }
    }
}