@import '../../global/variable.scss';

.NewsDetailes {
    padding-top: 10.2rem;
    background-color: $opacity-yellow;

    @media (max-width:$mobile-big) {
        padding-top: 12vh;
        min-height: 91.5vh;
    }

    .news_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 1.875rem;
        width: 100%;
        max-width: 84.5rem;
        margin: 0 auto;
        position: relative;


        @media (max-width:$mobile-big) {
            background-color: transparent;
            max-width: 100%;
        }

        .back__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            position: absolute;
            left: 0;
            top: 1rem;
            z-index: 10;

            @media (max-width:$mobile-big) {
                top: 0;
            }

            .back {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                margin: 0;

                @media (max-width:$mobile-big) {
                    font-size: 1.39485vh;
                    margin-bottom: 2.46781vh;
                }

                svg {
                    width: 1.06251rem;
                    height: auto;
                    margin-right: 0.25rem;

                    @media (max-width:$mobile-big) {
                        width: 2.1vw;
                        margin-right: 0.75vw;
                    }
                }

                .text {
                    color: $base-black;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    font-family: $font-mont;
                    font-weight: 500;

                    @media (max-width:$mobile-big) {
                        font-size: 2.32559vw;
                    }
                }
            }
        }

        .wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .title {
                font-size: 2rem;
                color: $base-black;
                font-family: $font-mont;
                text-align: center;
                display: block;
                margin: 0 auto;
                width: 100%;
                padding: 0 10rem;
                margin-bottom: 3rem;
                overflow-wrap: anywhere;

                @media (max-width:$mobile-big) {
                    font-size: 4.65116vw;
                    margin: 2.14592vh auto;
                    padding: 0;
                    order: 1;
                }
            }

            .news__image {
                min-width: 41.6251rem;
                height: 22.8751rem;
                background-size: cover;
                background-position: center;
                border-radius: 2rem;
                margin: 0 auto;
                margin-bottom: 3rem;

                @media (max-width:$mobile-big) {
                    width: 69.77vw;
                    height: 37.445vw;
                    margin-bottom: 0;
                    margin-top: 4vh;
                    border-radius: 1.71674vh;
                    order: 0;
                }
            }

            .texts {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1.5vh 2vw;
                width: 100%;
                order: 2;

                .text {
                    color: $base-black;
                    font-size: 1.5rem;
                    text-align: justify;
                    font-family: $font-mont;
                    margin-bottom: 1rem;
                    text-indent: 2rem;

                    @media (max-width:$mobile-big) {
                        font-size: 2.55815vw;
                        padding: 0;
                        margin-bottom: 1.07vh;
                    }

                    &.bold {
                        text-align: center;
                        font-weight: 600;
                    }
                }
            }
        }

        .bottom_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 2rem;
        }

        .date {
            color: $base-black;
            font-size: 1.5rem;
            font-family: $font-mont;
            margin-bottom: 2rem;
            padding: 0 5rem;

            @media (max-width:$mobile-big) {
                font-size: 3.02325vw;
                padding: 0;
                margin-bottom: 2.14592vh;
            }
        }

        .likes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 3rem;
            cursor: pointer;

            @media (max-width:$mobile-big) {
                max-width: 5.5vw;
                width: 100%;
                right: 0;
                bottom: 0;
            }

            &.active {
                opacity: 0.5;
            }

            .heart {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .count {
                font-size: 2rem;
                font-family: $font-mont;
                font-weight: bold;

                @media (max-width:$mobile-big) {
                    font-size: 3.3vw;
                }
            }
        }
    }
}