@import '../../global/variable.scss';

.NewsDetailes {
    padding-top: 12rem;

    @media (max-width:$mobile-big) {
        padding-top: 12vh;
    }

    .back {
        color: $base-black;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: $font-mont;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 14rem;
        background-color: transparent;
        border: none;
        margin: 0;
        margin-bottom: 2rem;

        svg {
            width: 2rem;
            height: auto;
            margin-right: 1rem;
        }
    }

    .news_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: $opacity-yellow;
        border-radius: 1.875rem;
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding-bottom: 10rem;

        .news__image {
            width: 84.458rem;
            height: 45.325rem;
            background-size: cover;
            background-position: center;
            border-radius: 2rem;
            margin: 0 auto;
            margin-bottom: 3rem;
        }

        .date {
            font-size: 2rem;
            font-family: $font-mont;
            margin-bottom: 3rem;
            padding: 0 5rem;
        }

        .title {
            font-size: 4rem;
            color: $base-black;
            font-family: $font-mont;
            text-align: left;
            display: block;
            margin: 0 auto;
            width: 100%;
            padding: 0 5rem;
            margin-bottom: 5rem;
        }

        .text {
            width: 100%;
            font-size: 2rem;
            font-family: $font-mont;
            margin-bottom: 2rem;
            padding: 0 5rem;

            &.bold {
                text-align: center;
                font-size: 2.5rem;
                font-weight: 600;
                margin-bottom: 3rem;
            }
        }

        .likes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 3rem;
            position: absolute;
            right: 5rem;
            bottom: 2rem;
            cursor: pointer;

            &.active {
                opacity: 0.5;
            }

            .heart {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .count {
                font-size: 2rem;
                font-family: $font-mont;
                font-weight: bold;
            }
        }
    }
}