@import '../../global/variable.scss';

.short_news {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6.6875rem;
    padding-top: 6.25rem;

    @media (max-width:$mobile-big) {
        height: 26.5vh;
        padding-top: 0;
        padding-bottom: 3vh;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    @media (max-width:$mobile) {
        padding-top: 0;
        padding-bottom: 0;
    }

    .title {
        font-size: 4rem;
        color: $base-red;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin-bottom: 5.25rem;

        @media (max-width:$mobile-big) {
            font-size: 5.5814vw;
            margin-bottom: 1.5vh;
        }
    }

    .list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.mobile {
            display: none;
            justify-content: center;
            align-items: center;
            background-color: $opacity-yellow;
            border-radius: 1.5vh;
            min-height: 11.91vh;
            margin-bottom: 2.6824vh;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 1.808vh 3.21888vh;


                .name {
                    color: $base-black;
                    font-size: 3.25582vw;
                    font-family: $font-mont;
                    font-weight: 600;
                }

                .right {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    flex-direction: column;

                    .date {
                        color: $base-black;
                        font-size: 2vw;
                        font-family: $font-mont;
                        margin-bottom: 1.5vh;

                        @media (max-width:570px) {
                            font-size: 2.55815vw;
                            margin-bottom: 2.897vh;
                        }
                    }

                    .likes {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        svg {
                            width: 4vw;
                            height: auto;

                            @media (max-width:570px) {
                                width: 6vw;
                            }
                        }

                        .count {
                            color: $base-black;
                            font-size: 2.2vw;
                            font-family: $font-mont;

                            @media (max-width:570px) {
                                font-size: 2.6vw;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width:$mobile-big) {
            max-width: 100%;
            padding: 0;
            overflow: hidden;

            &.desktop {
                display: none;
            }

            &.mobile {
                display: flex;
            }
        }

        .left_wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            max-width: 33.125rem;
            width: 100%;
            padding-right: 5.8125rem;

            .info {
                color: $base-black;
                font-size: 2rem;
                font-family: $font-mont;
                margin-bottom: 3rem;
            }

            .messages {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                .item {
                    color: $base-black;
                    font-size: 1.25rem;
                    font-family: $font-mont;
                    margin-bottom: 1.5rem;
                }
            }

            .subMessage {
                color: $base-black;
                font-size: 1.5rem;
                font-family: $font-mont;
                font-weight: 600;
                margin-bottom: 6.25rem;
            }
        }

        .right_wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            max-width: 48.687rem;
            width: 100%;
            max-height: 42.625rem;
            overflow-y: scroll;
            scrollbar-color: $base-yellow $base-sand;
            scrollbar-width: thin;
            padding-right: 3rem;

            &::-webkit-scrollbar {
                width: 0.25rem;
                border-radius: 0.25rem;
            }

            &::-webkit-scrollbar-track {
                background-color: $base-sand;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $base-yellow;
                border-radius: 0.25rem;
                height: 1.25rem;
            }

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $base-black;
                font-family: $font-mont;
                width: 100%;
                height: 8.1251rem;
                margin-bottom: 0.5rem;
                padding: 0 3rem;
                border-radius: 1rem;
                background-color: $base-sand;
                position: relative;

                .content {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    max-width: 35rem;
                    position: relative;

                    .name {
                        font-size: 1.375rem;
                        font-family: $font-mont;
                        font-weight: 600;
                        width: 100%;
                        margin-bottom: 0.798125rem;
                    }

                    .content__button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 11rem;
                        height: 2.215965rem;
                        padding: 0.443125rem 0.975rem;
                        border-radius: 2.5rem;
                        border: 0.0625rem solid $base-black;
                        background-color: transparent;
                        outline: none;

                        .button__text {
                            color: $base-black;
                            font-size: 0.75rem;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-wrap: nowrap;
                            padding-right: 0.2rem;
                            width: 100%;
                        }

                        .button__arrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 0.5rem;

                            svg {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }

                .info {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
                    padding: 0.25rem;
                    padding-right: 0.320625rem;

                    .date {
                        color: $base-black;
                        font-size: 1rem;
                        font-family: $font-mont;
                        margin-bottom: 1.15rem;
                    }

                    .likes {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        svg {
                            width: 1.4849375rem;
                            height: auto;
                        }

                        .count {
                            color: $base-black;
                            font-size: 1rem;
                            text-align: center;
                            font-family: $font-mont;
                        }
                    }
                }
            }
        }
    }

    .all {
        width: 100%;
        height: 4.68752rem;
        max-width: 21.8751rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0;

        &.mobile {
            display: none;

            @media (max-width:$mobile-big) {
                display: flex;
                max-width: 47vw;
                height: auto;
            }
        }

        .link {

            .customBtm {
                padding: 1.408rem 1.5rem;
            }
        }
    }
}