@import '../../../global/variable.scss';

.museums {
    display: inline-block;
    width: 100%;
    height: 55.165vh;
    padding-top: 9.22747vh;

    .item {
        float: left;
        width: 24.052%;
        height: 28.545%;
        margin: 0 0.1vh;
        padding-bottom: 0.552vh;
        opacity: 0.65;
        transition: all ease-in-out 300ms;
        cursor: pointer;

        &.active {
            opacity: 1;
            transition: all ease-in-out 300ms;
        }

        .item__image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 0.537vh;
        }
    }
}