@import '../../../global/variable.scss';

.pagination_wrapper {
    display: none;
    justify-content: center;
    align-items: center;

    @media(max-width:$mobile-big) {
        display: flex;
        margin-bottom: 5vw;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0 2vh;

        li {
            padding: 0 1.5vw;

            .page_link {
                color: $opacity-gray;
                font-size: 5.5814vw;
                font-family: $font-mont;
                font-weight: 500;
                line-height: 1;

                &.active {
                    color: $base-black;
                }
            }
        }
    }

    .arrow {
        border: none;
        background-color: transparent;

        svg {
            width: 2.56vw;
            height: auto;
        }
    }
}