@import '../../global/variable.scss';

.MuseumShort {
    background-color: $opacity-yellow;
    padding-top: 6.25rem;
    padding-bottom: 9.9375rem;
    position: relative;
    overflow: hidden;

    @media (max-width:$mobile-big) {
        background-color: $base-white;
        height: 26.5vh;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 3vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .title {
        font-size: 4rem;
        color: $base-red;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin-bottom: 5.25rem;
        position: relative;
        z-index: 1;

        @media (max-width:$mobile-big) {
            font-size: 5.5814vw;
            margin-bottom: 1.5vh;
        }
    }

    .MuseumShort_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &.mobile {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .img {
                position: relative;
                width: 46.515vw;
                height: 12vh;
                background-position: center;
                background-size: cover;
                border-radius: 1vh;
                overflow: hidden;
                margin-bottom: 1vh;
                z-index: 1;
                opacity: 0;
                transition: all ease-in 300ms;
                transition-delay: 50ms;

                &.active {
                    opacity: 1;
                }

                @media (max-width:530px) {
                    margin-bottom: 2vh;
                }
            }

            a {
                position: relative;
                z-index: 0;
            }

            .backSide {
                position: absolute;
                left: 0;
                top: 0;
                background-color: $opacity-yellow;
                width: 100%;
                max-width: 82vw;
                height: 13vh;
                border-radius: 1.5vh;
                z-index: 0;
                transform: translateY(3vh);

                @media (max-width:350px) {
                    max-width: 100%;
                }

                .circles {
                    display: none;

                    @media (max-width:$mobile-big) {
                        display: block;

                        .first,
                        .second,
                        .third,
                        .fourd {
                            position: absolute;
                            z-index: 0;
                            border-radius: 50%;
                            background-color: $base-white;
                            left: auto;
                            top: auto;
                            right: auto;
                            bottom: auto;
                        }

                        .first {
                            left: -4.7675vw;
                            bottom: 2vh;
                            width: 9.535vw;
                            height: 9.535vw;
                        }

                        .second {
                            left: 14vw;
                            top: 1vh;
                            width: 6.747vw;
                            height: 6.747vw;
                        }

                        .third {
                            right: -5vw;
                            top: 2.5vw;
                            width: 10.468vw;
                            height: 10.468vw;
                        }

                        .fourd {
                            right: 6vw;
                            bottom: -4vw;
                            width: 7.21vw;
                            height: 7.21vw;
                        }
                    }
                }
            }


        }

        @media (max-width:$mobile-big) {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: flex;
            }
        }

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 41.6251rem;
            height: 38.5626rem;
            background-size: cover;
            background-position: center;
            border-radius: 1.875rem;
            margin-right: 3.5rem;
            opacity: 0;
            transition: all ease-in 300ms;
            transition-delay: 50ms;

            &.active {
                opacity: 1;
            }
        }

        .rigth {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            color: $base-black;
            font-family: $font-mont;
            width: 100%;
            max-width: 35.75rem;
            margin-left: 3.5rem;

            .wrapper__title {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            .list {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                font-size: 1.25rem;
                font-style: italic;
                color: $smallOpacity-gray;
                font-weight: 400;
                padding: 0;
                margin-bottom: 2rem;

                li {
                    padding-left: 1.75rem;
                    margin-bottom: 1.5rem;
                    position: relative;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        left: 0.8rem;
                        top: 0.7rem;
                        width: 0.2rem;
                        height: 0.2rem;
                        background-color: rgba(0, 0, 0, 0.7);
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
            }

            .description {
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 3.125rem;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 21.8751rem;
            }
        }
    }

    .circles {
        @media (max-width:$mobile-big) {
            display: none;
        }

        .first,
        .second,
        .third,
        .fourd,
        .fifth,
        .sixth {
            position: absolute;
            z-index: 0;
            border-radius: 50%;
            background-color: $base-white;
        }

        .first {
            left: 35rem;
            top: 1.6875rem;
            width: 7.25rem;
            height: 7.25rem;

            @media (max-width:1280px) {
                left: 25rem;
            }

            @media (max-width:1024px) {
                left: 26rem;
            }
        }

        .second {
            right: 10rem;
            top: -5.3125rem;
            width: 15.625rem;
            height: 15.625rem;

            @media (max-width:1280px) {
                right: 5rem;
            }

            @media (max-width:1024px) {
                right: 7rem;
            }
        }

        .third {
            right: -2.5rem;
            bottom: 9rem;
            width: 7.5rem;
            height: 7.5rem;
        }

        .fourd {
            left: 20rem;
            bottom: -9.1875rem;
            width: 13rem;
            height: 13rem;

            @media (max-width:1280px) {
                left: 10rem;
            }

            @media (max-width:1024px) {
                left: 12rem;
            }
        }

        .fifth {
            left: 52rem;
            bottom: 3rem;
            width: 12rem;
            height: 12rem;

            @media (max-width:1280px) {
                left: 40rem;
            }

            @media (max-width:1024px) {
                left: 43rem;
            }
        }

        .sixth {
            background-color: $base-yellow;
            left: 8rem;
            top: 6.5rem;
            width: 19.375rem;
            height: 19.375rem;

            @media (max-width:1280px) {
                left: -6rem;
            }

            @media (max-width:1024px) {
                left: -4rem;
            }
        }
    }
}