@import '../../global/variable.scss';

.MuseumShort {
    background-color: $opacity-yellow;
    padding-top: 6.25rem;
    padding-bottom: 9.9375rem;

    @media (max-width:$mobile-big) {
        background-color: $base-white;
        height: 26.5vh;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 3vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .title {
        font-size: 4rem;
        color: $base-red;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin-bottom: 5.25rem;

        @media (max-width:$mobile-big) {
            font-size: 5.5814vw;
            margin-bottom: 1.5vh;
        }
    }

    .MuseumShort_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        &.mobile {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .img {
                position: relative;
                width: 46.515vw;
                height: 12vh;
                background-position: center;
                background-size: cover;
                border-radius: 1vh;
                overflow: hidden;
                margin-bottom: 1vh;
                z-index: 1;

                @media (max-width:530px) {
                    margin-bottom: 2vh;
                }

                img {
                    width: 100%;
                }
            }

            .backSide {
                position: absolute;
                left: 0;
                top: 0;
                background-color: $opacity-yellow;
                width: 100%;
                max-width: 82vw;
                height: 13vh;
                border-radius: 1.5vh;
                z-index: 0;
                transform: translateY(3vh);
            }
        }

        @media (max-width:$mobile-big) {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: flex;
            }
        }

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 41.6251rem;
            height: 38.5626rem;
            background-size: cover;
            background-position: center;
            border-radius: 1.875rem;
            margin-right: 3.5rem;
        }

        .rigth {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            color: $base-black;
            font-family: $font-mont;
            width: 100%;
            max-width: 35.75rem;
            margin-left: 3.5rem;

            .wrapper__title {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            .list {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                font-size: 1.25rem;
                font-style: italic;
                color: $smallOpacity-gray;
                font-weight: 400;
                padding: 0;
                margin-bottom: 2rem;

                li {
                    padding-left: 1.75rem;
                    margin-bottom: 1.5rem;
                    position: relative;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        left: 0.8rem;
                        top: 0.7rem;
                        width: 0.2rem;
                        height: 0.2rem;
                        background-color: rgba(0, 0, 0, 0.7);
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
            }

            .description {
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 3.125rem;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 21.8751rem;
            }
        }
    }
}