@import '../../global/variable.scss';

.MuseumBlock {
    padding-top: 7.2rem;

    @media (max-width:$mobile-big) {
        padding-top: 12vh;
        height: 91.5vh;
        background-color: $opacity-yellow;
    }

    .title {
        font-size: 4rem;
        color: $base-red;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin: 2.5rem auto;

        @media (max-width:$mobile-big) {
            font-size: 3.64807vh;
            margin-bottom: 0;
        }
    }

    .MuseumBlock_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.mobile {
            display: none;
        }

        @media (max-width:$mobile-big) {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: flex;
                position: relative;
                height: 65.5vh;

                .back {
                    position: absolute;
                    left: -8.95057vh;
                    top: -7.90899vh;
                    width: 14.6996vh;
                    height: 14.6996vh;
                    background-color: $base-yellow;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all ease-in-out 300ms;

                    .text {
                        font-size: 0.988vh;
                        font-family: $font-mont;
                        font-weight: 500;
                        text-transform: uppercase;
                        opacity: 0;
                        transition: all ease-in-out 300ms;
                    }

                    &.active {
                        width: 10.72965vh;
                        height: 10.72965vh;
                        left: -2.93309vh;
                        top: -10.72965vh;
                        cursor: pointer;
                        transition: all ease-in-out 300ms;

                        .text {
                            opacity: 1;
                            transition: all ease-in-out 300ms;
                        }
                    }

                }

                .pagination {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    pointer-events: none;
                    transition: all ease-in-out 300ms;

                    &.active {
                        pointer-events: all;
                        opacity: 1;
                        transition: all ease-in-out 300ms;
                    }
                }

                .short__info {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    pointer-events: none;
                    transition: all ease-in-out 300ms;

                    &.active {
                        pointer-events: all;
                        opacity: 1;
                        transition: all ease-in-out 300ms;
                    }

                    .mobile_slider {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        padding-top: 3.25027vh;

                        .item {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .item__image {
                                width: 30.337vh;
                                height: 34.67vh;
                                border-radius: 3.25027vh;
                                background-size: cover;
                                background-position: center;
                                margin: 0 auto;
                                margin-bottom: 3.25027vh;
                            }

                            .description {
                                font-size: 22px;
                                text-align: center;
                                font-weight: 600;
                                font-family: $font-mont;
                                margin-bottom: 20px;
                            }

                            .item__texts {
                                display: flex;
                                width: 100%;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;

                                p {
                                    width: 100%;
                                    font-size: 13px;
                                    text-align: center;
                                    font-family: $font-mont;
                                    margin-bottom: 15px;
                                }
                            }

                            .btn {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }



      

        .descriptions {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 10.75rem;
            margin-right: 3.5rem;

            .description {
                width: 100%;
                height: 3.125rem;
                color: $base-black;
                font-size: 1.1rem;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-mont;
                border-radius: 3.125rem;
                border: 0.0625rem solid $base-black;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.25rem;
                transition: 300ms ease-in-out all;
                background-color: transparent;
                cursor: pointer;

                &:hover,
                &.active {
                    border: 0.0625rem solid transparent;
                    background-color: $base-yellow;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        } 

    }
}

 