@import '../../global/variable.scss';

.short_news {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        text-align: center;
        font-size: 4rem;
        color: $base-red;
        font-family: $font-rounds;
        margin-bottom: 1rem;
        margin-bottom: 5.3125rem;
    }

    .news_list {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        max-width: 75rem;
        max-height: 46.875rem;
        overflow-y: scroll;
        padding-right: 4.0625rem;

        &::-webkit-scrollbar {
            width: 0.25rem;
            border-radius: 0.25rem;
        }

        &::-webkit-scrollbar-track {
            background-color: $base-sand;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $base-yellow;
            border-radius: 0.25rem;
            height: 1.25rem;
        }

        .item {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            color: $base-black;
            font-family: $font-mont;
            width: 100%;
            margin-bottom: 1.25rem;
            padding: 3.75rem;
            border-radius: 1.875rem;
            background-color: $base-sand;

            .name {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1.25rem;
            }

            .description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                position: relative;

                .text {
                    font-size: 1rem;
                    width: 100%;
                    max-width: 34.5rem;
                }

                .likes {
                    position: absolute;
                    right: 0;
                    bottom: -2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }

    .all {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4.375rem auto;

        .link {
            width: 100%;
            max-width: 24.375rem;

            .count {
                text-align: center;
                font-size: 1.25rem;
                font-family: $font-mont;
            }
        }
    }
}