@import '../../../global/variable.scss';

.arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: $base-yellow;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-in;
    transform: rotate(0) scale(1);

    &.arrow_Prev {
        left: -3.84375rem;

        &.disabled {
            opacity: 0.35;
            transform: rotate(0) scale(0.9);
        }
    }

    &.arrow_Next {
        right: -3.84375rem;
        transform: rotate(180deg);

        &.disabled {
            opacity: 0.35;
            transform: rotate(180deg) scale(0.9);
        }
    }

    svg {
        transform: translateX(-0.3rem);
    }
}