@import '../../global/variable.scss';


.AdminPanel {
    padding-bottom: 0;
    padding-top: 7rem;

    .AdminPanel_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        padding: 0.5rem 0;

        @media(max-width:$mobile-big) {
            flex-direction: column;
        }

        .item {
            font-size: 1.5rem;
            font-family: $font-mont;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 15rem;
            margin: 0 1rem;
            padding: 0.5rem;
            background-color: $opacity-yellow;
            border-radius: 0.75rem;
            cursor: pointer;
            transition: all ease-out 300ms;

            @media(max-width:$mobile-big) {
                font-size: 7rem;
                max-width: 100%;
                margin: 1rem auto;
                border-radius: 4rem
            }

            &:hover,
            &.active {
                background-color: $base-yellow;
                font-weight: 600;
                box-shadow: 0 0 0 0.5rem $opacity-yellow;
            }
        }
    }
}