@import '../../global/variable.scss';

.tittle_context {
    height: auto;
    background-color: $base-sand;
    padding-top: 12.125rem;
    padding-bottom: 0;

    h2,
    .sub_title {
        text-align: center;
        color: $base-black;
        max-width: 67rem;
        margin: 0 auto;
    }

    h2 {
        font-size: 4rem;
        font-family: $font-rounds;
        margin-bottom: 3.75rem;

        span {
            color: $base-red;
        }
    }

    .sub_title {
        font-size: 2rem;
        font-family: $font-mont;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .hero_block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: $font-mont;

        .block__title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        ul {
            color: $smallOpacity-gray;
            font-size: 1.125rem;
            font-style: italic;
            line-height: 1.5;

            li {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0.8rem;
                    top: 0.7rem;
                    width: 0.2rem;
                    height: 0.2rem;
                    background-color: rgba(0, 0, 0, 0.7);
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }

    .title_image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transform: translateY(7rem);
        margin-top: -2.625rem;
        padding: 0 5.625rem;

        img {
            width: 100%;
            max-width: 55.8125rem;
            border-radius: 1.875rem;
            overflow: hidden;
        }
    }
}