@import '../../global/variable.scss';

header {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.6875rem 4.1875rem 0 4.1875rem;
    pointer-events: none;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12.5rem;
        pointer-events: all;
    }

    nav {
        flex: 1;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 30rem;
            margin: 0 auto;
            padding: 0;

            li {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                flex: 1;

                a {
                    font-size: 1rem;
                    line-height: 1.218;
                    font-family: $font-mont;
                    padding: 0.5rem;
                    color: $base-black;
                    pointer-events: all;

                    &:hover,
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}