@import '../../global/variable.scss';

header {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3.4rem 4.1875rem 0 4.1875rem;
    pointer-events: none;
    transform: translateY(0);
    transition: all 300ms ease-in;

    @media (max-width:$mobile-big) {
        align-items: flex-start;
        padding: 4.29185vh;
        padding-top: 2.3vh;
        padding-bottom: 0;
        height: 10vh;
        overflow: hidden;
    }

    &.disable {
        transform: translateY(-120%);
    }



    .logo {
        position: fixed;
        left: 5rem;
        top: 1.6875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12.5rem;
        pointer-events: all;

        @media (max-width:$mobile-big) {
            height: 4.295vh;
            width: auto;
            position: initial;
        }

        a {
            width: 100%;

            @media (max-width:$mobile-big) {
                height: 100%;
                width: auto;
            }

            img {
                width: 100%;

                @media (max-width:$mobile-big) {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    nav {
        flex: 1;

        @media (max-width:$mobile-big) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 34rem;
            margin: 0 auto;
            padding: 0;

            li {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                flex: 1;

                a {
                    font-size: 1rem;
                    line-height: 1.218;
                    font-family: $font-mont;
                    padding: 0.5rem;
                    color: $base-black;
                    pointer-events: all;
                    transition: all ease-in 100ms;

                    &:hover,
                    &.active {
                        font-weight: bold;
                        transition: all ease-in 100ms;
                    }
                }
            }
        }
    }

    .burger {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 3.97vh;
        top: 3.649vh;
        z-index: 10;
        cursor: pointer;
        pointer-events: all;
        width: 3.863vh;

        @media (max-width:$mobile-big) {
            display: flex;

            &.disable {
                display: none;
            }
        }

        @media (max-width:370px) {
            top: 3vh;
        }
    }
}

.popMenu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $base-yellow;
    z-index: 9;
    justify-content: center;
    align-items: center;

    @media (max-width:$mobile-big) {
        display: flex;
        opacity: 0;
        transition: all ease-in-out 300ms;

        &.active {
            opacity: 1;
        }
    }

    .cross {
        position: fixed;
        right: 4.293vh;
        top: 3.97vh;
        width: 2.668vh;
        height: 2.668vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1vh;

        &.disable {
            display: none;
        }

        svg {
            width: 100%;
        }
    }

    nav {

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;

            li {
                margin: 1.072965vh auto;

                a {
                    color: $base-black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-mont;
                    width: 19.314vh;
                    height: 5.365vh;
                    background-color: $base-yellow;
                    border: 0.1072965vh solid $base-black;
                    border-radius: 5.365vh;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 1.772vh;
                }
            }
        }
    }
}