@import '../../global/variable.scss';

header {
    position: fixed;
    z-index: 9;
    width: 100%;
    pointer-events: none;
    transform: translateY(0);
    transition: all 300ms ease-in;
    background-color: $base-white;

    @media (max-width:$mobile-big) {
        position: initial;
        background-color: transparent;
        align-items: flex-start;
        transition: none;
    }

    &.disable {
        transform: translateY(-120%);
    }

    .header_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.4rem 5rem;
        background-color: $opacity-yellow;

        @media (max-width:$mobile-big) {
            background-color: transparent;
            padding: 5.7vw 9.30232vw 9.305vw 9.30232vw;
        }

        @media (max-width:350px) {
            padding: 6vw 4vw 9.305vw 4vw;
        }

        .logo {
            position: absolute;
            left: 5rem;
            top: 1rem;
            height: 4.2505rem;
            width: 12.5001rem;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: all;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: all ease-in 300ms;
            transition-delay: 50ms;

            &.active {
                opacity: 1;
            }

            @media (max-width:$mobile-big) {
                width: 26.98vw;
                height: 9.305vw;
                position: initial;
            }

            a {
                width: 100%;

                @media (max-width:$mobile-big) {
                    height: 100%;
                    width: auto;
                }

                img {
                    width: 100%;

                    @media (max-width:$mobile-big) {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }

        nav {
            flex: 1;

            @media (max-width:$mobile-big) {
                display: none;
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 48rem;
                margin: 0 auto;
                padding: 0;

                li {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    flex: 1;

                    a {
                        color: $base-black;
                        font-size: 1.3rem;
                        line-height: 1;
                        text-transform: uppercase;
                        font-family: $font-mont;
                        padding: 0.546875rem;
                        pointer-events: all;
                        transition: all ease-in 100ms;
                        text-wrap: nowrap;

                        &:hover,
                        &.active {
                            font-weight: bold;
                            transition: all ease-in 100ms;
                        }
                    }
                }
            }
        }

        .burger {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 8.605vw;
            top: 7.91vw;
            z-index: 10;
            cursor: pointer;
            pointer-events: all;
            height: 8.374vw;
            width: 8.374vw;

            @media (max-width:$mobile-big) {
                display: flex;

                &.disable {
                    display: none;
                }
            }

            svg {
                width: 100%;
                height: auto;
            }
        }
    }

}

.popMenu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background-color: $base-yellow;
    justify-content: center;
    align-items: center;
    z-index: -1;

    @media (max-width:$mobile-big) {
        display: flex;
        opacity: 0;
        transition: opacity ease-in-out 0ms;

        &.active {
            transition: opacity ease-in-out 300ms;
            opacity: 1;
            z-index: 9;

            .first,
            .second,
            .third,
            .fourd,
            .fived,
            .sixed,
            .sevened {
                transition: all cubic-bezier(.88, .14, .57, 1.03) 500ms;
            }

            .first {
                width: 27.315vw;
                height: 27.315vw;
                top: -5vw;
                left: -10vw;
            }

            .second {
                width: 22.794vw;
                height: 22.794vw;
                top: 16.631dvh;
                right: -5vw;
            }

            .third {
                width: 61.63vw;
                height: 61.63vw;
                bottom: 10.528dvh;
                right: -30.815vw;
            }

            .fourd {
                width: 49.535vw;
                height: 49.535vw;
                bottom: -24.7675vw;
                left: -3vw;
            }

            .fived {
                width: 9.77vw;
                height: 9.77vw;
                bottom: 17dvh;
                right: 45vw;
            }

            .sixed {
                width: 12.56vw;
                height: 12.56vw;
                top: 25dvh;
                left: 6vw;
            }

            .sevened {
                width: 28.14vw;
                height: 28.14vw;
                bottom: 35dvh;
                left: -8vw;
            }
        }
    }

    .cross {
        position: fixed;
        right: 8.605vw;
        top: 7.91vw;
        height: 8.374vw;
        width: 8.374vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 1vw;
        z-index: 3;

        &.disable {
            display: none;
        }

        svg {
            width: 100%;
            height: auto;
        }
    }

    nav {

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            position: relative;
            z-index: 2;

            li {
                margin: 1.165vw auto;

                a {
                    color: $base-black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-mont;
                    width: 41.864vw;
                    height: 11.63vw;
                    background-color: $base-yellow;
                    border: 0.25vw solid $base-black;
                    border-radius: 11.63vw;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 3.85vw;
                }
            }

        }
    }

    .first,
    .second,
    .third,
    .fourd,
    .fived,
    .sixed,
    .sevened {
        position: absolute;
        z-index: 0;
        border-radius: 50%;
        background-color: $base-white;
        transition: all linear 0ms;
        width: 0;
        height: 0;


        &:hover {
            animation-name: show;
            animation-duration: 300ms;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-fill-mode: forwards;
        }
    }


    .first {
        top: 0;
        left: 0;
    }

    .second {
        top: 0;
        right: 0;
    }

    .third {
        bottom: 0;
        right: 0;
    }

    .fourd {
        bottom: 0;
        left: 0;
    }

    .fived {
        bottom: 0;
        right: 0;
    }

    .sixed {
        top: 0;
        left: 0;
    }

    .sevened {
        bottom: 0;
        left: 0;
    }
}

@keyframes show {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}