.small_new {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #5ac4f6;

    .description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        min-height: 200px;

        .photo,
        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1.5rem;
            background-color: #cec8f4;
            border-radius: 2rem;
        }

        .photo {
            flex: 3;
        }

        .text {
            flex: 2;
        }
    }

    .down_side {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        margin-top: 1rem;

        .read {
            width: 100%;
            max-width: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .likes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: wrap-reverse;

            .image {
                width: 100%;
                max-width: 2rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .count {
                font-size: 1.5rem;
                padding: 0 0.5rem;
                font-weight: 600;
            }
        }
    }
}