@import '../../global/variable.scss';

.FeedBack {
    background-color: $base-white;
    padding-top: 0;
    padding-bottom: 6.25rem;

    @media (max-width:$mobile-big) {
        padding-top: 12vh;
        background-color: $opacity-yellow;
        height: 91.5vh;
    }

    .title {
        font-size: 4rem;
        color: $base-red;
        font-family: $font-rounds;
        text-align: center;
        display: block;
        margin-bottom: 3.125rem;

        @media (max-width:$mobile-big) {
            font-size: 3.64807vh;
            margin-bottom: 4.29185vh;
        }
    }

    .feedBack__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.desktop {
            @media (max-width:$mobile-big) {
                display: none;
                max-width: 80vw;
                margin: 0 auto;
            }

            .contact_block_first {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: row-reverse;
                width: 100%;

                .left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    color: $base-black;
                    font-family: $font-mont;
                    width: 50%;
                    max-width: 29.8125rem;
                    margin-left: 5.548%;

                    .title {
                        color: $base-black;
                        text-align: left;
                        font-size: 1.5rem;
                        font-weight: 500;
                        font-family: $font-mont;
                        text-transform: none;
                        margin: 0;
                        margin-bottom: 1.5rem;
                    }

                    .tell,
                    .tell_name {
                        color: $base-red;
                        font-size: 1.25rem;
                        font-weight: 600;
                        font-family: $font-mont;
                        margin-bottom: 1.25rem;
                    }

                    .name_tell {
                        color: $base-black;
                        font-size: 1.25rem;
                        font-family: $font-mont;
                        font-weight: 600;
                        margin-bottom: 1.25rem;
                    }

                    .tell_name {
                        color: $base-black;
                    }

                    .description {
                        color: $smallOpacity-gray;
                        font-size: 1rem;
                        font-family: $font-mont;
                        font-style: italic;
                        font-weight: 400;
                    }
                }

                .right {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 50%;
                    max-width: 29.8125rem;
                    margin-right: 5.548%;

                    .title {
                        color: $base-black;
                        text-align: left;
                        font-size: 1.5rem;
                        font-weight: 600;
                        font-family: $font-mont;
                        text-transform: none;
                        margin: 0;
                        margin-bottom: 2rem;
                    }

                    .list {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        list-style: none;
                        padding: 0;

                        li {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-family: $font-mont;
                            font-size: 1.25rem;

                            a {
                                display: block;
                                width: auto;
                                margin: 0;
                                color: $base-black;
                                padding: 0;
                                margin-right: 1rem;
                                font-weight: 600;
                            }

                            .text {
                                font-size: 1rem;
                                color: $smallOpacity-gray;
                                text-wrap: nowrap;
                                font-weight: 400;
                                font-style: italic;
                            }
                        }
                    }
                }
            }

            .contact_block_second {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                margin-bottom: 5rem;

                .left,
                .right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    max-width: 41.625rem;
                    background-color: $opacity-yellow;
                    border-radius: 1.875rem;
                    overflow: hidden;
                    padding: 2.875rem 5rem;

                    .title {
                        color: $base-black;
                        text-align: left;
                        font-size: 1.5rem;
                        font-family: $font-mont;
                        font-weight: 500;
                        margin: 0 auto;
                        margin-bottom: 1.5rem;
                        width: 100%;
                    }

                    .tel {
                        font-size: 1.5rem;
                        font-family: $font-mont;
                        text-align: left;
                        margin: 0 auto;
                        width: 100%;
                    }
                }

                .left {
                    margin-right: 0.625rem;
                }

                .right {
                    margin-left: 0.625rem;
                }
            }
        }

        &.mobile {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media (max-width:$mobile-big) {
                display: flex;
            }

            .question_number {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 4.29185vh;

                p {
                    color: $base-black;
                    font-size: 1.50215vh;
                    text-align: center;
                    font-family: $font-mont;
                    font-weight: 600;
                    margin-bottom: 1.2vh;
                }

                a {
                    color: $base-black;
                    font-size: 1.39485vh;
                    text-align: center;
                    font-family: $font-mont;
                    font-weight: 400;
                    cursor: pointer;
                }
            }

            .contacts {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;

                .contacts__title {
                    color: $base-black;
                    font-size: 1.50215vh;
                    text-align: center;
                    font-family: $font-mont;
                    font-weight: 600;
                    margin-bottom: 2.145925vh;
                }

                .contacts__wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 0 2.25322vh;
                    margin-bottom: 4.29185vh;

                    @media (max-width:$mobile-big) {
                        justify-content: center;
                    }

                    .left,
                    .right {
                        width: 50%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;

                        @media (max-width:$mobile-big) {
                            width: auto;
                        }

                        .item {
                            margin-bottom: 2.145925vh;

                            @media (max-width:$mobile-big) {
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-direction: column;
                                flex-wrap: nowrap;
                            }

                            a {
                                color: $base-black;
                                text-align: left;
                                font-size: 1.18026vh;
                                font-family: $font-mont;
                                font-weight: 600;
                                line-height: 1.194;
                                white-space: nowrap;
                            }

                            p {
                                color: $smallOpacity-gray;
                                text-align: left;
                                font-size: 1.18026vh;
                                font-family: $font-mont;
                                font-style: italic;
                                font-weight: 400;
                                line-height: 1.194;
                                white-space: nowrap;

                                @media (max-width:350px) {
                                    font-size: 1vh;
                                }
                            }
                        }
                    }

                    .left {
                        padding-right: 3.32618vh;

                        @media (max-width:350px) {
                            padding-right: 1vh;
                        }
                    }

                    .right {
                        padding-left: 3.32618vh;

                        @media (max-width:350px) {
                            padding-left: 1vh;
                        }
                    }
                }

                .question {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .title {
                        color: $base-black;
                        font-size: 1.50215vh;
                        text-align: center;
                        font-family: $font-mont;
                        font-weight: 600;
                        margin-bottom: 2.145925vh;
                    }

                    a {
                        color: $base-red;
                        font-size: 1.39485vh;
                        text-align: center;
                        font-family: $font-mont;
                        font-weight: 600;
                        cursor: pointer;
                        margin-bottom: 1.072965vh;
                    }

                    .name {
                        color: $base-black;
                        font-size: 1.39485vh;
                        text-align: center;
                        font-family: $font-mont;
                        font-weight: 600;
                        margin-bottom: 1.072965vh;
                    }

                    .position {
                        color: $smallOpacity-gray;
                        text-align: center;
                        font-size: 1.18026vh;
                        font-family: $font-mont;
                        font-style: italic;
                        font-weight: 400;
                        margin-bottom: 4.29185vh;
                    }

                    .logo {
                        width: 11.696vh;
                        height: 4.078vh;
                    }
                }
            }
        }
    }
}