@import '../../global/variable.scss';

.newsSlider {
    padding-top: 7.2rem;
    padding-bottom: 6.25rem;

    @media(max-width:$mobile-big) {
        margin: 0 auto;
        height: 88vh;
        margin-top: 12vh;
        padding-top: 8.3691vh;
        padding-bottom: 0;
    }

    .slider {
        display: block;
        width: 100%;
        max-width: 88.251rem;
        margin: 0 auto;
        position: relative;
        margin-top: 3rem;

        @media(max-width:$mobile-big) {
            max-width: 100%;
            padding-bottom: 11vh;
            margin-top: 0rem;
        }

        .slide {
            width: 100%;
            display: flex !important;
            justify-content: center;
            align-items: center;

            @media(max-width:$mobile-big) {
                padding: 0;
                transform: none;
            }

            .wrapperSlider {
                font-family: $font-mont;
                width: 100%;
                border-radius: 1rem;
                padding: 4.6875rem 0;
                background-color: $base-sand;
                max-width: 72.751rem;
                box-sizing: border-box;

                @media(max-width:$mobile-big) {
                    border-radius: 1.71674vh;
                    max-width: 100%;
                    padding: 0;
                }

                .title {
                    color: $base-black;
                    font-size: 2rem;
                    text-align: center;
                    font-family: $font-mont;
                    padding: 0 2.5rem;
                    margin: 0 auto;
                    margin-bottom: 4.125rem;

                    &.desktop {
                        @media(max-width:$mobile-big) {
                            display: none;
                        }
                    }

                    &.mobile {
                        display: none;
                        width: 100%;
                        font-size: 2.36051vh;
                        text-align: left;
                        font-family: $font-mont;
                        padding: 0 3.00429vh;
                        margin-bottom: 1.60944vh;

                        @media(max-width:$mobile-big) {
                            display: block;
                        }
                    }
                }

                .date {
                    color: $base-black;
                    font-size: 1.25rem;
                    font-family: $font-mont;
                    padding: 0 2rem;
                    margin-top: 2.51625rem;

                    &.mobile {
                        display: none;

                        @media(max-width:$mobile-big) {
                            font-size: 1.39485vh;
                            display: block;
                            width: 100%;
                            margin-top: 0rem;
                            margin-bottom: 2.14592vh;
                            padding: 0 3.00429vh;
                        }
                    }

                    &.desktop {
                        @media(max-width:$mobile-big) {
                            display: none;
                        }
                    }


                }

                .like {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0 4.375rem;

                    @media(max-width:$mobile-big) {
                        padding: 0 4vh;
                        margin-bottom: 3.17811vh;
                        margin-top: -2.16878vh;
                    }

                    .like__wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        max-width: 2.5001rem;
                        transform: translateY(-1.2rem);
                        width: 100%;

                        @media(max-width:$mobile-big) {
                            max-width: 2.8vh;
                        }

                        svg {
                            width: 100%;
                            height: auto;
                        }

                        .count {
                            color: $base-black;
                            font-size: 1.25rem;
                            font-family: $font-mont;

                            @media(max-width:$mobile-big) {
                                font-size: 1.5vh;
                            }
                        }
                    }
                }

                .wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    max-width: 100%;

                    @media(max-width:$mobile-big) {
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 0;
                    }

                    .image {
                        width: 100%;
                        width: 39.43752rem;
                        height: 21.1710625rem;
                        margin-right: 2.5rem;
                        border-radius: 1.936375rem;
                        background-size: cover;
                        background-position: center;
                        background-color: $base-yellow;
                        transform: translateX(-1.0625rem);

                        @media(max-width:$mobile-big) {
                            width: 91.72vw;
                            height: 20.172vh;
                            max-width: 100%;
                            margin: 0 auto;
                            margin-bottom: 2.6824vh;
                            transform: none;
                            border-radius: 1.71674vh;
                        }
                    }

                    .content {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        width: 100%;
                        max-width: 30.81252rem;

                        @media(max-width:$mobile-big) {
                            padding: 0 3.00429vh;
                            max-width: 100%;
                        }

                        .description {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            margin-bottom: 2.8125rem;
                            max-width: 27.063rem;

                            @media(max-width:$mobile-big) {
                                width: 100%;
                                max-width: 27vh;
                                margin-bottom: 2vh;
                            }

                            p {
                                color: $base-black;
                                font-size: 1rem;
                                font-family: $font-mont;
                                width: 100%;
                                margin-bottom: 2rem;

                                @media(max-width:$mobile-big) {
                                    font-size: 1.18026vh;
                                    margin-bottom: 1vh;

                                    &:nth-of-type(2) {
                                        display: none;
                                    }
                                }

                                &:last-of-type {
                                    margin-bottom: 0;
                                }

                                &.bold {
                                    font-weight: bold;
                                }
                            }
                        }

                        .read {
                            font-size: 1.25rem;
                            color: $base-black;
                            font-family: $font-mont;
                            font-weight: 500;
                            text-transform: uppercase;
                            padding: 1rem 4rem;
                            width: 17.5001rem;
                            height: 4.68751rem;
                            background: $base-yellow;
                            border-radius: 3rem;
                            border: none;

                            @media(max-width:$mobile-big) {
                                font-size: 1.5vh;
                                width: 17.9vh;
                                height: 3.82vh;
                                padding: 0 3vh;
                                border-radius: 3vh;
                            }
                        }
                    }
                }
            }

        }
    }
}

.subNewsSlider {
    padding-top: 0;
    padding-bottom: 6.25rem;

    @media(max-width:$mobile-big) {
        margin: 0 auto;
        height: 100vh;
        padding-top: 16.0944vh;
        padding-bottom: 0;
    }

    h3 {
        font-size: 4rem;
        color: $base-red;
        font-family: $font-rounds;
        text-align: center;
        margin-bottom: 3.125rem;

        @media(max-width:$mobile-big) {
            font-size: 3.64807vh;
            margin-bottom: 4.29185vh;
        }
    }

    .news {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 44.375rem;
        overflow-y: scroll;
        max-width: 75.9375rem;
        margin: 0 auto;
        padding-right: 2.875rem;
        scrollbar-color: $base-yellow $base-sand;
        scrollbar-width: thin;

        &.mobile {
            display: none;
        }

        @media(max-width:$mobile-big) {
            max-height: 100%;
            max-width: 100%;
            height: auto;
            padding: 0;
            overflow: auto;
            margin-bottom: 6.26566vh;

            &.mobile {
                display: flex;
            }

            &.desktop {
                display: none;
            }
        }

        &::-webkit-scrollbar {
            width: 0.3rem;
            border-radius: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            background-color: $base-sand;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $base-yellow;
            border-radius: 0.5rem;
            height: 1.25rem;
        }

        .newsItem {
            width: 100%;
            min-height: 8.1251rem;
            margin-bottom: 0.9375rem;
            border: none;
            border-radius: 1rem;
            padding: 0 0.5rem;
            background: $base-sand;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.active {
                background-color: $base-yellow;
            }

            &:last-of-type {
                margin-bottom: 0rem;
            }

            @media(max-width:$mobile-big) {
                margin: 0.804721vh auto;
                font-size: 1.93133vh;
                height: 16.095vh;
                padding: 2.6824vh;
            }

            .title {
                color: $base-black;
                font-size: 1.875rem;
                font-family: $font-mont;
                font-weight: 600;
                text-align: center;
                flex: 1;
            }

            .rigth_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 1.5rem 3.25rem;
                height: 100%;

                svg {
                    width: 1.6rem;
                    height: 100%;
                }

                .count {
                    font-size: 0.9868125rem;
                    color: $base-black;
                    font-family: $font-mont;
                    margin-bottom: 0.9375rem;
                }

                .date {
                    font-size: 1rem;
                    color: $base-black;
                    font-family: $font-mont;
                }
            }
        }
    }
}