@import '../../global/variable.scss';

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $opacity-yellow;
    padding: 5rem;
    z-index: 1;

    @media (max-width:$mobile-big) {
        background-color: $base-white;
        padding: 2.32559vw;
        padding-bottom: 7vw;
        padding-top: 7vw;
        // height: 8.5dvh;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 84.5rem;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        .logo {
            width: 12.5005rem;

            @media (max-width:$mobile-big) {
                display: none;
            }

            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }

        nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            flex: 1;


            ul {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                max-width: 41rem;
                width: 100%;
                padding: 0;
                flex: 1;

                @media (max-width:$mobile-big) {
                    width: 100%;
                    justify-content: center;
                    max-width: 100%;
                }

                li {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    flex: 1;

                    a {
                        display: block;
                        font-size: 1.3rem;
                        font-family: $font-mont;
                        color: $base-black;
                        padding: 0.46875rem 0.4rem;
                        text-wrap: nowrap;
                        white-space: nowrap;

                        @media (max-width:$mobile-big) {
                            text-transform: uppercase;
                            flex: 1;
                            font-size: 3vw;
                            padding: 0 1vw;
                        }

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .circles {

        .first,
        .second,
        .third,
        .fourd {
            position: absolute;
            z-index: 1;
            border-radius: 50%;
            background-color: $base-white;
        }

        .first {
            top: -2.25rem;
            left: 29.7rem;
            width: 6rem;
            height: 6rem;

            @media (max-width:1280px) {
                left: 18rem;
            }

            @media (max-width:1024px) {
                left: 19.7rem;
            }
        }

        .second {
            bottom: -5.875rem;
            left: 44rem;
            width: 11.9375rem;
            height: 11.9375rem;

            @media (max-width:1280px) {
                left: 35rem;
            }

            @media (max-width:1024px) {
                left: 33rem;
            }
        }

        .third {
            top: -3rem;
            right: 45rem;
            width: 8.0625rem;
            height: 8.0625rem;

            @media (max-width:1280px) {
                right: 32.5rem;
            }

            @media (max-width:1024px) {
                right: 35rem;
            }
        }

        .fourd {
            bottom: -2.1875rem;
            right: 16.5rem;
            width: 4.375rem;
            height: 4.375rem;

            @media (max-width:1280px) {
                right: 4rem;
            }

            @media (max-width:1024px) {
                right: 6rem;
            }
        }
    }
}