@import '../../global/variable.scss';

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $base-sand;
    padding: 5rem;
    z-index: 1;

    @media (max-width:$mobile-big) {
        background-color: $base-white;
        padding: 4.29185vh;
        padding-top: 0.536481vh;
        height: 8.5vh;
    }

    @media (max-width:$mobile-small) {
        padding: 1.55vh;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            width: 12.5rem;

            @media (max-width:$mobile-big) {
                display: none;
            }

            a {
                display: block; 

                img {
                    width: 100%;
                }
            }
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            @media (max-width:$mobile-big) {
                flex: 1;
            }


            ul {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 27rem;
                padding: 0;

                @media (max-width:$mobile-big) {
                    width: 100%;
                    justify-content: center;
                }

                li {

                    a {
                        display: block;
                        font-size: 1rem;
                        font-family: $font-mont;
                        color: $base-black;
                        padding: 0.46875rem;
                        white-space: nowrap;

                        @media (max-width:$mobile-big) {
                            text-transform: uppercase;
                            flex: 1;
                            font-size: 1.03872vh;
                            padding: 0 0.4721435vh;
                        }

                        @media (max-width:420px) {
                            font-size: 0.9vh;
                            padding: 0 0.3vh;
                        }

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}