@import '../../../global/variable.scss';

.arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.06251rem;
    height: 4.06251rem;
    background-color: $base-yellow;
    border: none;
    border-radius: 50%;
    transition: all 300ms ease-in;
    transform: rotate(0) scale(1);

    @media(max-width:$mobile-big) {
        top: auto;
        bottom: -7vh;
        width: 7vw;
        height: 7vw;
    }

    @media(max-width:530px) {
        bottom: -8.4vh;
        width: 11.63vw;
        height: 11.63vw;
    }

    &:hover {
        transform: scale(1.1);
    }

    &.arrow_Prev {
        left: 0;

        @media(max-width:$mobile-big) {
            left: 20vw;
        }

        &.disabled {
            opacity: 0.35;
            transform: rotate(0) scale(0.9);
            pointer-events: none;
        }
    }

    &.arrow_Next {
        right: 0;
        transform: rotate(180deg);

        @media(max-width:$mobile-big) {
            right: 20vw;
        }

        &.disabled {
            opacity: 0.35;
            transform: rotate(180deg) scale(0.9);
            pointer-events: none;
        }
    }

    svg {
        transform: translateX(-0.3rem);
        width: 1.1255rem;

        @media(max-width:$mobile-big) {
            width: 2vw;
        }

        @media(max-width:530pxF) {
            width: 2.794vw;
        }
    }
}