@import './global/variable.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  width: 100%;
  background-color: $base-white;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1;
}

section {
  position: relative;
  width: 100vw;
  max-width: 100%;
  padding: 5.5rem 5rem;

  @media (max-width:$mobile) {
    padding: 4.29185vh;
  }
}

a,
button {
  cursor: pointer;
}

.slick-slider {
  width: 100%;
}

html {
  font-size: 1.058vw;

  @media(max-width:$mobile) {
    font-size: 1vw;
  }
}

@media(max-width:$mobile) {
  .mobile-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    padding-top: 10vh;
  }
}