@import '../../../global/variable.scss';

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 88.251rem;
    margin-bottom: 1rem;
    position: relative;

    .arrow {
        &.arrow_Prev {
            display: none !important;
        }
    }


    .item {
        display: flex !important;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        max-width: 72.751rem;
        margin: 0 auto;
        background-color: $opacity-yellow;
        padding: 3.1875rem 3.25rem;
        padding-left: 5.6875rem;
        border-radius: 1.875rem;
        cursor: pointer;
        position: relative;

        .item__image {
            min-width: 17rem;
            height: 19.125rem;
            border-radius: 1.875rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            margin-right: 2.5rem;
            position: relative;
            z-index: 1;
            opacity: 0;
            transition: all ease-in 300ms;

            &.active {
                opacity: 1;
            }
        }

        .item__content {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            z-index: 1;

            .description {
                font-size: 2rem;
                color: $base-black;
                font-family: $font-mont;
                font-weight: 600;
                margin-top: 1rem;
                margin-bottom: 0.9375rem;
            }

            .item__texts {
                margin-bottom: 2.5rem;
                width: 100%;
                max-width: 44.3125rem;

                p {
                    width: 100%;
                    max-width: 100%;
                    font-size: 1rem;
                    color: $base-black;
                    font-family: $font-mont;
                    margin-bottom: 1.5rem;
                    word-wrap: break-word;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }


            .btn {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;

                button {
                    width: 100%;
                    max-width: 18.7501rem;
                    height: 4.06251rem;


                    div {
                        font-weight: 500;
                        font-size: 1.125rem;
                    }
                }
            }
        }

        .circles {

            .first,
            .second,
            .third,
            .fourd {
                position: absolute;
                z-index: 0;
                border-radius: 50%;
                background-color: $base-white;
            }

            .first {
                left: 3.1875rem;
                top: 2.0625rem;
                width: 5.375rem;
                height: 5.375rem;
            }

            .second {
                right: 17.75rem;
                top: -3.3125rem;
                width: 8.0625rem;
                height: 8.0625rem;
            }

            .third {
                right: 8.4375rem;
                bottom: -0.8125rem;
                width: 6.375rem;
                height: 6.375rem;
            }

            .fourd {
                left: 18.8125rem;
                bottom: 1.375rem;
                width: 5.8125rem;
                height: 5.8125rem;
            }
        }
    }
}