.customBtn {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 20rem;
    margin: 0;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: #cec8f4;
    border: none;
    cursor: pointer;
}